@import "../../../styles/mixins";
@import "../../../styles/fonts.scss";
.booking {
  position: relative;
  overflow: hidden;
  // z-index: -1;
  &__container {
    @include container;
    margin: 0 auto;
    padding: 170px 50px 136px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .booking__icon {
      max-width: 268px;
      padding: 0px 0px 28px 0px;
      @media (max-width: 468px) {
        margin-bottom: 16px;
        max-width: 120px;
      }
    }
    .booking__title {
      @include belarus-regular;
      color: #fff;
      text-align: center;
      font-size: 90px;
      font-style: normal;
      font-weight: 400;
      line-height: 104%;
      width: 100%;
      text-transform: uppercase;
      padding: 0px 0px 56px 0px;
      @media (max-width: 468px) {
        font-size: 46px;
        line-height: 48px;
      }
    }
    .booking__find {
      @include montserrat-regular;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      border-radius: 48px;
      gap: 12px;

      backdrop-filter: blur(25px);
      .booking__registration {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        border-radius: 48px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 4px;
        padding-right: 20px;
        .booking_in {
          color: $button-color;
          text-align: center;
          @include montserrat-regular;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          text-transform: uppercase;
          padding: 9px 50px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 48px;
        }
        .booking_out {
          color: $button-color;
          text-align: center;
          @include montserrat-regular;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          text-transform: uppercase;
          padding: 9px 50px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 48px;
        }
      }
      .booking_guests {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        border-radius: 48px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 13px 20px 13px 28px;
        height: 48px;
        .guests__title {
          color: $button-color;
          @include montserrat-regular;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          text-transform: uppercase;
          border-radius: 48px;
        }
        @media (max-width: 468px) {
          display: none;
        }
      }
      .booking__button {
        @media (max-width: 468px) {
          display: none;
        }
      }
      @media (max-width: 468px) {
        padding: 0;
      }
    }
    @media (max-width: 468px) {
      padding: 170px 80px 50px 80px;
    }
  }
}
