@charset "UTF-8";
@font-face {
  font-family: "Belarus Regular";
  src: local("Belarus Regular"), url("../Fonts/Belarus-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat Regular"), url("../Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat Medium"), url("../Fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat Light"), url("../Fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
}
/* Обнуление стилей CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: none;
}

/* Mobile */
.button {
  font-family: "Montserrat Regular", Arial, sans-serif;
  display: flex;
  padding: 12px 28px;
  gap: 12px;
  border-radius: 48px;
  border: 1px solid var(--white_opacity, rgba(255, 255, 255, 0.4));
}
.button:hover {
  border: 1px solid var(--white, #fff);
  background: rgb(255, 255, 255);
}
.button:hover .button__link {
  color: #192e4e;
}
.button__find {
  padding: 20px;
}
.button__link {
  border: 1px solid var(--white, #fff);
  border-radius: 48px;
  display: flex;
  padding: 12px 28px;
  gap: 12px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  z-index: 50;
  text-transform: uppercase;
}
@media (max-width: 468px) {
  .button__link {
    display: none;
  }
}
.button__link:hover {
  border: 1px solid var(--white, #fff);
  background: rgb(255, 255, 255);
  color: #192e4e;
}