@font-face {
  font-family: "Belarus Regular";
  src: local("Belarus Regular"), url("../Fonts/Belarus-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat Regular"), url("../Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat Medium"), url("../Fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat Light"), url("../Fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
}
.drop {
  position: relative;
}
.drop__content {
  position: relative;
  display: flex;
  align-items: center;
}
.drop__index {
  position: relative;
  left: 0;
  top: -25px;
  color: #fff;
  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.4;
  width: 40px;
}
.drop__link {
  font-family: "Belarus Regular", Arial, sans-serif;
  display: block;
  margin-right: 40px;
}
@media (max-width: 468px) {
  .drop__link {
    font-size: 46px;
    font-weight: 400;
    line-height: 104%;
  }
}
.drop__icon {
  padding: 12px 20px;
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.drop__icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.drop__iconactive {
  padding: 12px 20px;
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transform: rotate(180);
}
.drop__iconactive:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.drop .block {
  font-family: "Montserrat Regular", Arial, sans-serif;
  transition: height ease 0.9s;
  overflow: hidden;
}
.drop .content {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 20px;
}
.drop .content li {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  text-transform: uppercase;
}