@charset "UTF-8";
@font-face {
  font-family: "Belarus Regular";
  src: local("Belarus Regular"), url("../Fonts/Belarus-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat Regular"), url("../Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat Medium"), url("../Fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat Light"), url("../Fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
}
/* Обнуление стилей CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: none;
}

/* Mobile */
body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  margin-top: 230px;
  margin-bottom: 100px;
}
.container .sticky {
  position: sticky;
  height: 100vh;
  top: 0;
  width: 100%;
}
.container .sticky .scroll {
  display: flex;
  gap: 108px;
  position: absolute;
  min-height: 100%;
  padding: 70px 0px 354px 120px;
  will-change: transform;
}
.container .sticky .scroll__content {
  min-height: 100%;
}
.container .sticky .scroll__content_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #192e4e;
  font-family: "Belarus Regular", Arial, sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.container .sticky .scroll__content_title span {
  display: block;
}
.container .sticky .scroll__content_title span:first-child {
  white-space: nowrap;
  color: rgba(25, 46, 78, 0.3);
}
.container .sticky .scroll__content_text {
  color: #192e4e;
  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 40px;
}
.container .sticky .scroll__content_btn {
  color: #192e4e;
  border-radius: 48px;
  border: 1px solid rgba(160, 141, 126, 0.4);
  padding: 12px 28px;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.container .sticky .scroll__content_btn:hover {
  background: #192e4e;
  color: #ffffff;
  border: 1px solid rgba(160, 141, 126, 0.4);
  transition: 0.3s ease-in;
}
.container .sticky .scroll__body {
  display: flex;
  height: 100%;
  position: relative;
  gap: 18px;
}