@charset "UTF-8";
@font-face {
  font-family: "Belarus Regular";
  src: local("Belarus Regular"), url("../Fonts/Belarus-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat Regular"), url("../Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat Medium"), url("../Fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat Light"), url("../Fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
}
/* Обнуление стилей CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: none;
}

.slider__image {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}